<div class="bg container-fluid">
  <div class="container" style="position: absolute;">
    <div class="row-container">
      <div class="col-xs-12">
        <div class="col-xs-8">
          <img src="../../assets/Logo.png" class="logo" width="80" height="80" alt="">
          <h3 class="app_title">Agile Up</h3>
          <p class="app_sub_title">
            "Value Proposition Through Agile"
          </p>
        </div>
        <div class="col-xs-4">
          <img class="img-responsive" src="../../assets/AgileLogo2.png" style="position:absolute;left: 70px"
            width="400px" height="300px" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="col-sm-6 col-xs-12">
          <div class="panel panel-default"
            style="margin-top: 10%;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius:15px;">
            <div class="panel-heading"
              style="margin:0px 30px;background-color: transparent;padding:0px;padding-top:10px;padding-bottom:10px;border:0;">
              <div class="row">
                <div class="col-xs-6 text-center" style="padding-bottom: 8px;
                border-bottom: 3px solid #CC94CD;">
                  <span class="panel-title">Sign In</span>
                </div>
                <div class="col-xs-6 text-center" style="padding-bottom: 8px;
                border-bottom: 2px solid #E5E5E5;">
                  <span class="panel-title">Sign Up</span>
                </div>
              </div>
            </div>
            <div class="panel-body" fxLayoutAlign="center center">
              <!-- <app-login></app-login> -->
              <form class="login-form" fxFlex='80' fxLayoutAlign="stretch" fxLayout="column">
                <mat-form-field>
                  <input matInput placeholder="Enter valid email id" type="email" name="" id="">
                  <!-- <mat-hint>Please, Enter registered email id</mat-hint> -->
                </mat-form-field>
                <mat-form-field>
                  <input type="password" matInput placeholder="Enter Password" name="" id="">
                </mat-form-field>
                <button type="submit" class="signInBtn" mat-button mat-raised-Button color="primary">SIGN IN</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-center">
        <img src="../../assets/Agile-transparant.png" width="345px" alt="">
      </div>
    </div>
  </div>
</div>